@import "./colors.scss";

$main_width: 80%;

.main-broadcast-container {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: $main_width;
  top: 0;
  left: (100%-$main_width)/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-broadcast-content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-broadcast-video-container {
  width: 60%;
  box-shadow: 0 0 1rem $secondary_gray;
}

.main-broadcast-video-information {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  & h2 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

.main-broadcast-viewers-count {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.5rem;

  & p {
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

.broadcast-viewer-count {
  padding-left: 0.5rem;
  font-weight: 400;
}

.broadcast-is-connected {
  margin-right: 1rem;
}

#broadcast-video {
  width: 100%;
}

#broadcast-viewer-icon {
  height: 1rem;
}

@media (max-width: 768px) {
  .main-broadcast-video-container {
    width: 100%;
  }


  .main-broadcast-container {
    width: 90%;
    left: 5%;
  }
}