@import "./colors.scss";
@import "./Hero.scss";
@import "./SignUpEmail.scss";
@import "./SocialButtons.scss";

.main-home-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}