@import "./colors.scss";

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-height: 10%;
}

@media (min-width: 1200px) {
  .nav-bar-container {
    width: 80%;
  }
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  min-width: 35%;
}

.nav-bar-brand a {
  text-decoration: none;
  color: $main_black;
  position: relative;
  z-index: 1;
}

.nav-bar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.nav-bar-link a {
  text-decoration: none;
  color: $main_black;
  padding-bottom: 2px;
  position: relative;
  width: 100%;

  &:before {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: -2px;
    margin-right: -2px;
    top: 65%;
    height: 0;
    background-color: $main_yellow;
    -webkit-transition: all 0.3s ease-in-out;
  }

  &:hover:before {
    height: 8px;
  }
}

.nav-bar-hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-bar-container {
    background-color: $main_white;
  }

  .nav-bar-hamburger {
    display: flex !important;
  }

  .nav-bar-links {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: $main_white;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 5rem;
    padding-bottom: 2rem !important;
    z-index: 0;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    box-shadow: 0 0 1rem $secondary_gray;
    transform: translateY(-100%);
    transition: all 0.6s ease-in-out;

    & li {
      margin-top: 1rem !important;
      margin-bottom: 1rem !important;
    }
  }

  .nav-bar-sign-up a {
    margin-left: 0 !important;
  }
}

.nav-active {
  transform: translateY(0%);
}

.active a {
  &:before {
    height: 8px;
  }
}

.temp-hidden a {
  &:before {
    height: 0;
  }
}

.nav-bar-sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar-sign-up a {
  text-decoration: none;
  color: $main_black;
  position: relative;
  background-color: $main_yellow;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  padding-left: 3.7rem;
  padding-right: 3.7rem;
  border-radius: 1.5rem;
  margin-left: 1.5rem;
}