@import "./colors.scss";

.main-home-signup-email-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-home-signup-email-content-container {
  position: relative;
  width: 60%;
  height: 2rem;
  transition: all 0.3s ease-in-out;
}

.main-home-signup-email-input {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  border: 1px solid $main_gray;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 1rem $main_gray;
    border-color: transparent !important;
  }

  &:focus {
    outline: none !important;
    box-shadow: 0 0 1rem $main_gray;
    border-color: transparent !important;
  }
}

#main-home-signup-email-close {
  position: absolute;
  height: 50%;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

.hidden-signup-email {
  height: 0 !important;
}

@media (max-width: 576px) {
  #main-home-signup-email-content-container {
    height: 0 !important;
  }
}